openapi: 3.1.0
info:
  title: Toggl Track Me Reports API
  version: '9'
  description: "REST API for the Toggl Track time tracking platform covering the\ncore Track API (time entries, current entry, workspaces) plus the\nReports API (weekly, summary, detailed reports).\n\nAuthentication: HTTP Basic Auth where the API token is the username\nand the literal string `api_token` is the password.\n\nSources:\n- https://engineering.toggl.com/docs/\n- https://github.com/toggl/toggl_api_docs (archived reference for\n  historical paths and the Reports API)\n"
  contact:
    name: Toggl Track
    url: https://engineering.toggl.com/docs/
servers:
- url: https://api.track.toggl.com
  description: Toggl Track production API host
security:
- basicAuth: []
tags:
- name: Reports
paths:
  /reports/api/v2/weekly:
    get:
      tags:
      - Reports
      summary: Weekly report
      operationId: weeklyReport
      parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/WorkspaceIdQuery'
      responses:
        '200':
          description: Weekly aggregated report.
  /reports/api/v2/summary:
    get:
      tags:
      - Reports
      summary: Summary report
      operationId: summaryReport
      parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/WorkspaceIdQuery'
      responses:
        '200':
          description: Summary report.
  /reports/api/v2/details:
    get:
      tags:
      - Reports
      summary: Detailed report
      operationId: detailedReport
      parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/WorkspaceIdQuery'
      responses:
        '200':
          description: Detailed report.
components:
  parameters:
    WorkspaceIdQuery:
      in: query
      name: workspace_id
      required: true
      schema:
        type: integer
    UserAgent:
      in: query
      name: user_agent
      required: true
      schema:
        type: string
      description: Required identifier for the calling application.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth. Username is the API token from Toggl profile,

        password is the literal string `api_token`.

        '
